<html>
    <body>
        <center>
            <h1>The server operating system : {{ ansible_distribution }} </h1>
            <br>
            <h1>The server Hostname : {{ ansible_os_family }} </h1>
            <br>
            <h1>The Admin User : {{ ansible_os_family }} </h1>
        </center>
    </body>
</html>